<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PB Agora • A Paraíba o tempo todo - Portal de notícias</title>

    <!-- Bootstrap -->
    <link href="{{template_path}}node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{template_path}}assets/css/app.css" rel="stylesheet">
    <link href="{{template_path}}assets/css/pba.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    {% include 'blocks/navbar.html' %}

    <div class="container main-container">
      {% include 'blocks/mundo.html' %}
      {% include 'blocks/more.html' %}
      {% include 'blocks/news.html' %}
    </div>

    {% include 'blocks/footer.html' %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
