.navbar-mundo {
  min-height: 0px !important;
  border-radius: 0px;
  background-color: #2196F3;
  border-color: #fff;
}

.navbar-mundo .container-fluid .navbar-header a {
  color: #fff;
}
.navbar-mundo .container-fluid .navbar-collapse ul li a {
  color: #fff;
}

.navbar-mundo .container-fluid {
  margin-top: 5px !important;
}

.main-container {
  margin-top: 130px;
}

.navbar {
  min-height: 100px;
}

.navbar-brand img {
  max-width: 160px;
}

.navbar-nav li {
  font-size: 12px;
}

.navbar-header.logo {
  margin-top: 30px;
}

.navbar-nav {
  margin-top: 5px;
}

.navbar-search-link {
  margin-top: 20px;
}

.nav-margin-top {
  margin-top: 30px;
}

.navbar-right .glyphicon-search {
  font-size: x-large;
}

.li-left-line {
  border-left: 1px solid #CCC;
}

.li-right-line {
  border-right: 1px solid #CCC;
}

.navbar-collapse .navbar-right {
  margin-right: 25px;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-width: 2px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    font-weight: bold;
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

.recent-feat-side figure p.title {
  color: #4E4E4E;
  line-height: 1;
  font-size: 1rem;
}

.recent-feat-side-content h6 {
  margin-bottom: 10px !important;
}

.recent-feat-side figure img {
  max-height: 9.4em;
}

.navbar-right .li-left-line img {
  max-width: 35px;
  margin-left: 30%;
}

.recent-feat-side-content {
  padding-top: 5px;
}

.news-list {
    list-style: none;
}

ul.news-list > li > a,
ul.news-list > li > strong{
    color: #2196f3;
}

section.news-date {
    padding-left: .625rem;
    margin-bottom: .7rem;
    color: #2196f3;
    font-weight: bold;
}

div.news-home > div > header {
    margin-top: 1.875rem;
}

.dark-blue {
    color: #005192;
}

figcaption.mais-lidas a {
    margin-top: 1rem !important;
}

footer {
    height: 15rem;
    background-color: rgba(11, 26, 39, 0.82);

}

footer > .footer-links {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
}

footer > .footer-links > ul {
    list-style: none;
    display: inline-block;
    margin-right: 7rem;
}

footer > .footer-links > ul > li{
    line-height: 2.5rem;
}

footer > .footer-links > ul > li > a {
    color: rgba(255, 255, 255, 0.8);
    font-size: small;
}

footer > .footer-links > ul > li > a:hover {
    text-decoration: none;
}