<footer>
    <div class="footer-links">
        <ul>
            <li><a href="#">Política</a></li>
            <li><a href="#">Paraíba</a></li>
            <li><a href="#">Brasil</a></li>
        </ul>
        <ul>
            <li><a href="#">Mundo</a></li>
            <li><a href="#">Esportes</a></li>
            <li><a href="#">Entretenimento</a></li>
        </ul>
        <ul>
            <li><a href="#">Vídeos</a></li>
            <li><a href="#">Gastronomia</a></li>
            <li><a href="#">Economia</a></li>
        </ul>
        <ul>
            <li><a href="#">Quem somos</a></li>
            <li><a href="#">RSS</a></li>
            <li><a href="#">Fale conosco</a></li>
        </ul>
    </div>
</footer>