<div class="more-home">
    <div class="large-7 left">
        <div class="large-5 left">
            <figure class="small-12 medium-12 columns rel recent-feat-th">
                <img src="{{template_path}}assets/images/coca-cola.jpg">
            </figure>
            <figure class="small-12 medium-12 columns rel recent-feat-th">
                <img src="{{template_path}}assets/images/adidas.jpg">
            </figure>
        </div>
        <div id="middle-list" class="large-7 right">
            <figure class="small-12 medium-12 columns rel recent-feat-th not-img ">
                <figcaption class="small-12 left">
                    <h6 class="post-tag font-normal">Disputa Interna</h6>
                    <h4 class="font-xlarge"><a href="#"></a><a href="#" title="Funad é referência para acolhimento e reabilitação de bebês com microcefalia">Raimundo Lira faz balanço positivo da CAE e destaca projeto</a></h4>
                    <div class="divide-20"></div>
                    <p class="font-small no-margin post-excerpt hide-for-medium-only">A Fundação Centro Integrado de Apoio ao Portador de Deficiência (Funad)</p>
                    <div class="divide-10 show-for-medium-down"></div>
                </figcaption>
            </figure>
            <figure class="small-12 medium-12 columns rel recent-feat-th not-img ">
                <figcaption class="small-12 left">
                    <h6 class="post-tag font-normal">Disputa Interna</h6>
                    <h4 class="font-xlarge"><a href="#"></a><a href="#" title="Funad é referência para acolhimento e reabilitação de bebês com microcefalia">Raimundo Lira faz balanço positivo da CAE e destaca projeto</a></h4>
                    <div class="divide-20"></div>
                    <p class="font-small no-margin post-excerpt hide-for-medium-only">A Fundação Centro Integrado de Apoio ao Portador de Deficiência (Funad)</p>
                    <div class="divide-10 show-for-medium-down"></div>
                </figcaption>
            </figure>
            <figure class="small-12 medium-12 columns rel recent-feat-th not-img ">
                <figcaption class="small-12 left">
                    <h6 class="post-tag font-normal">Disputa Interna</h6>
                    <h4 class="font-xlarge"><a href="#"></a><a href="#" title="Funad é referência para acolhimento e reabilitação de bebês com microcefalia">Raimundo Lira faz balanço positivo da CAE e destaca projeto</a></h4>
                    <div class="divide-20"></div>
                    <p class="font-small no-margin post-excerpt hide-for-medium-only">A Fundação Centro Integrado de Apoio ao Portador de Deficiência (Funad)</p>
                    <div class="divide-10 show-for-medium-down"></div>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="large-5 right">
        <figure class="large-12 columns rel recent-feat-th ">
            <div class="small-12 left rel bg-cover" data-thumb="{{template_path}}assets/images/raimundo.jpg" style="background-image: url(&quot;{{template_path}}assets/images/raimundo.jpg&quot;);">
                <a href="http://plan-dev.com.br/pb_agora/?p=73" class="mask-gradent2 small-12 abs" title="UPAs, hospitais e Samu estarão de plantão para atender público no fim de ano na Capital"></a>
                <h6 class="post-tag font-normal tag-with-img">PUBLIEDITORIAL </h6>
                <figcaption class="small-12 abs">
                    <h4 class="font-xlarge divide-10"><a href="http://plan-dev.com.br/pb_agora/?p=73"></a><a href="http://plan-dev.com.br/pb_agora/?p=73" title="UPAs, hospitais e Samu estarão de plantão para atender público no fim de ano na Capital">Raimundo Lira faz balanço positivo da CAE e destaca projeto</a></h4>

                </figcaption>
            </div>
        </figure>
        <nav class="large-12 columns popular">

            <div class="no-bullet small-12 left section-block bg-dark popular-container">
                <header class="divide-20 column">
                    <h4 class="">Mais lidas no canal Mundo</h4>
                </header>

                <ul id="list-popular" class="no-bullet small-12 left no-margin">
                    <li>
                        <a href="http://plan-dev.com.br/pb_agora/?p=51" title="Rômulo Gouveia destaca atuação em 2015: “Ano positivo”" class="d-block">
                            <span class="post-tag thin font-small d-block">POLÍTICA</span>
                            <span class="body-color font-black">Ele já valeu R$ 62 milhões, mas hoje está sem emprego</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://plan-dev.com.br/pb_agora/?p=94" title="Gotye" class="d-block">
                            <span class="post-tag thin font-small d-block">POLÍTICA</span>
                            <span class="body-color font-black">Ele já valeu R$ 62 milhões, mas hoje está sem emprego</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://plan-dev.com.br/pb_agora/?p=63" title="Exposição ‘Fúria da Sereia’ completa um mês de sucesso" class="d-block">
                            <span class="post-tag thin font-small d-block">POLÍTICA</span>
                            <span class="body-color font-black">Ele já valeu R$ 62 milhões, mas hoje está sem emprego</span>
                        </a>
                    </li>
                </ul>

                <div id="popular-carousel" class="small-12 left show-for-medium-down"><ul id="list-popular" class="no-bullet small-12 left no-margin owl-carousel owl-theme" style="opacity: 0; display: block;">
                    <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 600px; left: 0px; display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);"><div class="owl-item" style="width: 100px;"><li class="item">
                        <a href="http://plan-dev.com.br/pb_agora/?p=51" title="Rômulo Gouveia destaca atuação em 2015: “Ano positivo”" class="d-block">
                            <span class="post-tag thin font-small d-block">Brasil</span>
                            <span class="body-color font-black">Rômulo Gouveia destaca atuação em 2015: “Ano positivo”</span>
                        </a>
                    </li></div><div class="owl-item" style="width: 100px;"><li class="item">
                        <a href="http://plan-dev.com.br/pb_agora/?p=94" title="Gotye" class="d-block">
                            <span class="post-tag thin font-small d-block">Clipe </span>
                            <span class="body-color font-black">Gotye</span>
                        </a>
                    </li></div><div class="owl-item" style="width: 100px;"><li class="item">
                        <a href="http://plan-dev.com.br/pb_agora/?p=63" title="Exposição ‘Fúria da Sereia’ completa um mês de sucesso" class="d-block">
                            <span class="post-tag thin font-small d-block">Exposição </span>
                            <span class="body-color font-black">Exposição ‘Fúria da Sereia’ completa um mês de sucesso</span>
                        </a>
                    </li></div></div></div>


                    <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></ul></div>
                <div class="divide-20"></div>
            </div>
        </nav>
    </div>
</div>