<div class="mundo-home">

    <nav class="navbar navbar-default navbar-mundo">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mundo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Terrorismo</a></li>
                    <li><a href="#">Ataque Islâmico</a></li>
                    <li><a href="#">Tsunami</a></li>
                    <li><a href="#">Invasão da China</a></li>
                    <li><a href="#">Confrontos</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <aside class="small-12 large-9 left">
        <section class="small-12 left">
            <div class="d-block divide-20 column big-feature" title="">
                <figure class="divide-30 pba-th top-article-th rel">
                    <div class="small-12 abs img bg-cover" data-thumb="{{template_path}}assets/images/manoel-junior.jpg" style="background-image: url(&quot;{{template_path}}assets/images/manoel-junior.jpg&quot;);"></div>
                    <a href="#" class="mask-gradent small-12 abs"></a>
                    <figcaption class="small-12 abs">
                        <h6 class="post-tag no-margin">Disputa Interna </h6>
                        <h3 class="divide-10 large-8"><a href="#" title="Partidos da base assinam manifesto em defesa de Dilma Roussef" class="white">Partidos da base assinam manifesto em defesa de Dilma Roussef</a></h3>
                    </figcaption>
                </figure>
            </div>
        </section>
    </aside>
    <aside class="small-12 large-3 left recent-feat-side">
        <figure class="small-12 medium-6 large-12 columns rel right-side">
            <img src="{{template_path}}assets/images/hungria.jpg" />
            <div class="recent-feat-side-content">
                <h6 class="post-tag no-margin">Disputa Interna </h6>
                <p class="title">Hungria prende imigrantes após mudança na lei</p>
            </div>
        </figure>

        <figure class="small-12 medium-6 large-12 columns rel right-side">
            <img src="{{template_path}}assets/images/hungria.jpg" />
            <div class="recent-feat-side-content">
                <h6 class="post-tag no-margin">Disputa Interna </h6>
                <p class="title">Hungria prende imigrantes após mudança na lei</p>
            </div>
        </figure>
    </aside>
</div>