<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header logo">
          <a class="navbar-brand" href="#">
            <img src="{{template_path}}assets/images/logo.png" />
          </a>
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-menubuilder">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse navbar-menubuilder">
          <ul class="nav navbar-nav navbar-left nav-margin-top">
              <li><a href="#">Paraíba</a>
              </li>
              <li><a href="#">Política</a>
              </li>
              <li><a href="#">Policial</a>
              </li>
              <li><a href="#">Brasil</a>
              </li>
              <li><a href="#">Mundo</a>
              </li>
              <li><a href="#">Esportes</a>
              </li>
              <li><a href="#">Entretenimento</a>
              </li>
              <li><a href="#">Vida &amp; Lazer</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="li-left-line">
              <img src="{{template_path}}assets/images/whatsapp.png" />
              <a href="#">Contribua<br />internauta</a>
            </li>
            <li class="li-left-line li-right-line">
              <a class="navbar-search-link" href="#">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </a>
              <br />
            </li>
          </ul>
      </div>
  </div>
</div>
