<div class="news-home">
    <div class="large-8 left">
        <header class="divide-30 column">
            <h3 class="primary">Notícias</h3>
        </header>
        <section class="news-section">
            <section class="news-date">20/04/2016</section>
            <ul class="news-list">
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
            </ul>
        </section>

        <section class="news-section">
            <section class="news-date">19/04/2016</section>
            <ul class="news-list">
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
                <li><strong>13h57</strong> <a href="#">Renan critica Cunha por paralisia da Câmara até impeachment ser votado</a></li>
            </ul>
        </section>
    </div>

    <div class="large-4 right">
        <header class="divide-30 column">
            <h3 class="dark-blue">Mais Lidas no PB Agora</h3>
        </header>
        <figure class="small-12 medium-12 columns rel">
            <figcaption class="small-12 left mais-lidas">
                <h6 class="post-tag font-normal">Disputa Interna</h6>
                <a href="#" class="font-small no-margin post-excerpt hide-for-medium-only">Repartições públicas têm ponto facultativo nesta quinta</a>
                <div class="divide-10 show-for-medium-down"></div>
            </figcaption>
        </figure>
        <figure class="small-12 medium-12 columns rel">
            <figcaption class="small-12 left mais-lidas">
                <h6 class="post-tag font-normal">Disputa Interna</h6>
                <a href="#" class="font-small no-margin post-excerpt hide-for-medium-only">Repartições públicas têm ponto facultativo nesta quinta</a>
                <div class="divide-10 show-for-medium-down"></div>
            </figcaption>
        </figure>
        <figure class="small-12 medium-12 columns rel recent-feat-th">
            <img src="{{template_path}}assets/images/avianca.jpg">
        </figure>
    </div>
</div>